.signup_cont{
    padding-top: 20px;
    max-width: 500px;

    label{
        color: whitesmoke;
    }
}
.ut{
    background-color: grey;
    color: white;
}

.st_form, .dist_form{
    min-width: 240px;


}

.dist_form{
    margin-top: 20px;
}

.State,.District{
    margin-bottom: 10px;
}

.signup_title{
    background: linear-gradient(to top, rgb(16, 93, 225), aqua);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-bottom: 5px;
    text-align: center;
}

.signup_background{
    background: linear-gradient(300deg,  #052b8d,#311f75, #0f331b);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    min-height: 100vh;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.sub_btn{
    min-width: 150px;
    margin-bottom: 20px;
    background-color: green;

    &:hover{
        background-color: lightblue;
        color: black;
    }
}