nav{
    background-color: rgb(59, 130, 237);
}

.logo{
    width: 60px;
    position: relative;
    top: 5px;
}

.navbar-brand > span {
    font-weight: 900;
    font-size: 1.9rem;
    margin-left: 20px;
    vertical-align: bottom;
    color: whitesmoke;
    
}
