body { 
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: sans-serif; 
    line-height: 1.5;  
    flex-direction: column; 
    margin: auto; 
    color: white;
} 
  
label { 
    display: block; 
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 5px; 
    text-align: left; 
    color: #ffffff; 
    font-weight: bold; 
} 
  
  
input { 
    display: block; 
    width: 120%; 
    margin-bottom: 15px; 
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
} 
a{
    align-items: center;
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  .verification{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: sans-serif;  
    line-height: 1.5; 
    flex-direction: column; 
    margin: auto; 
    color: white;
    width: auto;
  }
  #generate { 
    padding: 10px; 
    border-radius: 10px; 
    border: none; 
    color: white; 
    cursor: pointer; 
    background-color: #00ccff; 
    width: auto; 
    font-size: 16px; 
    margin: auto;
} 
#resend{
    margin: auto;
    width: auto;
}
