.title{
    font-size: 1.5rem !important;
    text-align: left;
        text-decoration: underline; /* Enable underline */
        text-decoration-thickness: 5px; /* Set underline thickness */
       text-decoration-color: blueviolet;
}

.lead{
    text-align: left;
    margin-top: 20px;
}

.App{
    overflow-x: hidden;
}